@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


body{
  background-color: hsl(233, 47%, 7%);
  margin:0;
}


.card{
  position: absolute;
  background-color: hsl(244, 38%, 16%);
  display:inline-block;
  width:400px;
  height:300px;
  padding:50px;
  top:100px;
  left:200px;
  font-size: 15px;
  line-height: 1.6rem;
  font-family:'Inter',sans-serif;
}

span{
  color:hsl(277, 64%, 61%);
}

.image{
  background-color: hsl(277, 64%, 61%);
  position: absolute;
  display:inline-block;
  width:500px;
  height:400px;
  top:100px;
  left:700px;
}

.image img{
  width: 500px;
  height:400px;
  opacity:0.25;
}

.one{
  padding:20px;
  color:hsla(0, 0%, 100%, 0.6);
  position:relative;
  display:inline-block;
  font-size:15px;
}

.two{
  padding:20px;
  color:hsla(0, 0%, 100%, 0.6);
  position:relative;
  display:inline-block;
  font-size:15px;
 
}

.three{
  padding:20px;
  color:hsla(0, 0%, 100%, 0.6);
  position:relative;
  display:inline-block;
  font-size:15px;
}

.card h1{
  color:hsl(0, 0%, 100%);
}

.para{
  color:hsla(0, 0%, 100%, 0.75);
}

div h2{
  margin-bottom: 0;
}

div p{
  margin-top: 0;
  font-size: 15px;
}